<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 1.在遍历过程中没有使用索引值（下标） -->
        <ul>
            <li v-for="item in names">{{item}}</li>
        </ul>
        <!-- 2.在遍历过程中获取索引值 -->
        <ul>
            <li v-for="(item,index) in names">
                {{index+1}}.{{item}}
            </li>
        </ul>
    </div>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                names: [11, 22, 33, 44]
            }
        })
    </script>
</body>

</html>