<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 1.在遍历过程中如果只是获取一个值，那么获取到的是value -->
        <ul>
            <li v-for="item in info">{{item}}</li>
        </ul>
        <!-- 获取key和value(value,key) -->
        <ul>
            <li v-for="(item,key) in info">{{key}}:{{item}}</li>
        </ul>
    </div>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                info: {
                    name: "csy",
                    age: 18,
                    height: 184
                }
            }
        })
    </script>
</body>

</html>