<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <label v-for="(item,index) in originHobbies" :for="index" draggable="true">
      {{index+1}}<input type="checkbox" :value="item" :id="index" v-model="hobbies">{{item}}
    </label>
        <h2>选择的值为：{{hobbies}}</h2>
    </div>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                originHobbies: ["篮球", "足球", "乒乓球", "羽毛球"],
                hobbies: []
            }
        })
    </script>
</body>

</html>